* {
    margin: 0;
    padding: 0;
}

font-family: 'Lato',
sans-serif;

body {
    height: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 1600px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    display: inline-block;
}

.header-left {
    float: left;
    display: flex;
}

.logo {
    display: block;
    float: left;
    padding-left: 227px;
    padding-top: 25px;
    width: 59px;
    height: 51px;
}

.brand {
    text-decoration: none;
}

.brand-name {
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    padding-left: 13px;
    margin-top: 40px;
}

.browse {
    text-decoration: none;
}

.button-browse {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
}

.button-browse:hover {
    text-shadow: 1px 1px 1px #000;
}

.search-field {
    display: flex;
    margin-left: 37px;
    margin-top: 32px;
}

.search-text {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 0px 0px 0px;
    text-indent: 28px;
}

.search {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.button-search {
    margin-left: 12px;
    margin-top: 12px;
}

.header-right {
    float: right;
    display: flex;
    padding-top: 32px;
}

.cart {
    padding-right: 26px;
}

.account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    text-decoration: none;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    margin-right: 231px;
}

.account:hover {
    text-shadow: 1px 1px 1px #000;
}

.my-account:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.menu {
    padding-left: 460px;
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
    width: 100%;
}

.main-menu {
    position: relative;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-list-last:hover .mega-box {
    right: 10px;
    left: auto;
    top: 32px;
}

.menu-list:hover .mega-box {
    display: flex;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    padding: 10px 13px;
}

.menu-link:hover {
    color: gray;
}

.mega-box {
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    display: none;
    top: 32px;
    padding: 20px;
    z-index: 2;
}

.mega-box:before {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.mega-item-box {
    margin-right: 46px;
}

.mega-item-box:last-of-type {
    margin-right: 0;
}

.mega-h3 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #232323;
    width: 235px;
    padding: 8px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 16px;
}

.mega-link {
    text-decoration: none;
    display: block;
    width: 235px;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
}

.mega-link:hover {
    color: #f16d7f;
}

.mega-list {
    list-style-type: none;
}

.mainpic {
    height: 665px;
    width: 1600px;
    background-image: url(img/mainimage.jpg);
}

.mainpic-text {
    padding-left: 230px;
    padding-top: 276px;
}

.stick {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    float: left;
    margin-top: 15px;
    margin-right: 12px;
}

.mainpic-h2 {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.mainpic-h3 {
    font-size: 40px;
    color: #222222;
}

red-text {
    color: #f16d7f;
}

.mainpic-link {
    text-decoration: none;
}

.content {
    margin-left: 230px;
    margin-top: 98px;
    display: flex;
}

.content-first-str {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 16px;
}

.content-second-str {
    font-size: 30px;
    color: #f16d7f;
    text-transform: uppercase;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
    margin-left: 20px;
}

.hot-man {
    background-image: url(img/man.jpg);
    width: 560px;
    height: 542px;
    margin-bottom: 20px;
    display: block;
}

.hot-man:hover {
    outline: 2px solid gray;
}

.accesories {
    background-image: url(img/accesories.jpg);
    width: 560px;
    height: 261px;
}

.accesories:hover {
    outline: 2px solid gray;
}

.women {
    background-image: url(img/women.jpg);
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
}

.women:hover {
    outline: 2px solid gray;
}

.kids {
    background-image: url(img/kids.jpg);
    width: 560px;
    height: 542px;
}

.kids:hover {
    outline: 2px solid gray;
}

.hot-man-text {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 26px;
    position: absolute;
    padding-left: 19px;
}

.hot-man-text:hover {
    text-shadow: #fff -1px -1px 0,
        #333 1px 1px 0;
}

.imagine-text {
    text-decoration: none;
}

.acces-text {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 26px;
    position: absolute;
    padding-left: 19px;
}

.acces-text:hover {
    text-shadow: #fff -1px -1px 0,
        #333 1px 1px 0;
}

.women-text {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 26px;
    position: absolute;
    padding-left: 19px;
}

.women-text:hover {
    text-shadow: #fff -1px -1px 0,
        #333 1px 1px 0;
}


.kids-text {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 26px;
    position: absolute;
    padding-left: 19px;
}

.kids-text:hover {
    text-shadow: #fff -1px -1px 0,
        #333 1px 1px 0;
}


.featured-items {
    padding-top: 100px;
}

.featured-head {
    padding-left: 702px;
    font-family: Lato;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.featured-text {
    padding-left: 625px;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    margin-top: -25px;
}

.prod-link {
    display: block;
    width: 261px;
    height: 280px;
    text-decoration: none;
}

.products {
    margin-top: 60px;
    width: 261px;
    height: 364px;
    position: relative;
    margin-bottom: 40px;
}

.products:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.prod-desc {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.prod-price {
    padding-top: 16px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.prod-text {
    padding-top: 19px;
    padding-left: 14px;
}

.img-prod {
    width: 100%;
    display: flex;
}

.products:hover .add-box {
    display: flex;
}

.img-prod:hover {
    filter: brightness(50%)
}

.add {
    display: block;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.add-box {
    margin-left: 70px;
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
}

.add-text {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 5px;
}

.items {
    width: 1140px;
    padding-left: 232px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.browse-all {
    text-decoration: none;
}

.browse-all:hover {
    text-shadow: 1px 1px 1px #000;
}

.browse-bottom:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.browse-bottom {
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 695px;
    margin-top: 80px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    text-align: center;
}

.offer {
    width: 1140px;
    margin-top: 113px;
    background-image: url(img/background_offer.jpg);
    display: flex;
    position: relative;
    margin-left: 229px;
}

.offer-link {
    width: 767px;
}

.offer-img {
    width: 100%
}

.offer-text {
    position: absolute;
    top: 146px;
    left: 39px;
}

.offer-first {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.offer-second {
    font-size: 32.2px;
    font-family: Lato;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.prem {
    display: flex;
    flex-wrap: wrap;
    margin-left: 36px;
    margin-top: 48px;
}

.delivery,
.sales,
.quality {
    display: flex;
}

.prem-text-box {
    margin-left: 33px;
}

.prem-header {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    padding-bottom: 17px;
}

.prem-text {
    font-family: Lato;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.subscribe {
    width: 1600px;
    margin-top: 97px;
    position: relative;
    display: flex;
}

.feedback {
    position: absolute;
    width: 800px;
    top: 123px;
    left: 230px;
    display: flex;
}

.feedback-text-box {
    display: flex;
    margin-left: 28px;
    flex-wrap: wrap;
    width: 386px;
}

.feedback-text {
    font-family: Lato;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.feedback-name-box {
    padding-top: 19px;
}

.feedback-name {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.feedback-adress {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.pagination {
    padding-top: 41px;
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brick-unactive {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.brick-active {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.brick-unactive:hover {
    background-color: #f16d7f;
}

.subscribe-right {
    position: absolute;
    right: 322px;
    top: 148px;
    text-align: center;
}

.subscribe-first-line {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe-second-line {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.email {
    padding-top: 35px;
    display: flex;
}

.email-type {
    width: 334px;
    height: 42px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    float: left;
    text-indent: 28px;
}

.email-enter {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.email-enter:hover {
    text-shadow: 1px 1px 1px #000;
}

.subscribe-button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
}

.subscribe-button:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.info {
    display: flex;
    width: 1600px;
}

.about {
    padding-top: 41px;
    padding-left: 229px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    width: 427px;
}

.info-box {
    display: flex;
    padding-left: 64px;
}

.company {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-top: 41px;
}

.table-link {
    list-style-type: none;
}

.table-list {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.table-list:hover {
    color: black;
}

.information-box {
    padding-left: 129px;
}

.category-box {
    padding-left: 80px;
}

.footer {
    background-color: #e6e6e6;
    width: 1600px;
    height: 79px;
}

.copyright {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    padding-left: 229px;
}

.social {
    float: right;
    padding-right: 231px;
}

.social-link:hover {
    color: #f16d7f;
    ;
}

.new-arrivals {
    background-color: #f8f3f4;
    display: flex;
    height: 148px;
    width: 1600px;
    justify-content: space-between;
}

.new-arrivals-text {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
    float: left;
    padding-top: 65px;
    padding-left: 228px;
}

.navigation {
    float: right;
    padding-right: 228px;
    padding-top: 65px;
}

.nav-link {
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

.nav-active {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.nav-link:hover {
    color: #f16d7f;
}

.new-prod-box {
    position: relative;
}

.new-products {
    display: flex;
    width: 1600px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.new-prod-link-back {
    width: 800px;
    height: 777px;
    text-decoration: none;
    display: flex;
}

.new-prod-link-forvard {
    width: 800px;
    height: 777px;
    text-decoration: none;
    display: flex;
}

.new-prod-back {
    display: none;
    align-items: center;
}

.new-prod-link-back:hover .new-prod-back {
    display: flex;
}

.fa-angle-left {
    margin-left: -30px;
}

.fa-angle-right {
    margin-left: -30px;
}

.new-prod-forvard {
    display: none;
    align-items: center;
    margin-left: 752px;
}

.new-prod-link-forvard:hover .new-prod-forvard {
    display: flex;
}

.new-prod-img {
    position: absolute;
    top: 11px;
    left: 514px;
}

.women-collection-box {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 1140px;
    text-align: center;
    margin-top: -86px;
    position: relative;
    margin-left: 229px;
    align-items: center;
}

.women-collection-desc {
    border-bottom: 1px solid #eaeaea;
    padding-top: 17px;
    display: inline-block;
}

.pagination-women {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 495px;
    padding-top: 14px;
}

.women-collection-h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
    padding-top: 73px;
}

.women-collection-h2 {
    font-family: Lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.women-collection-text {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    padding-top: 67px;
    width: 618px;
}

.material-designer {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 28px;
}

.material {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
    padding-right: 44px;
}

.designer {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
}

.black-text {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}

.price {
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
    padding-top: 37px;
    padding-bottom: 43px;
}

.choosing {
    display: inline-flex;
    padding-top: 63px;
}

.choose-list {
    list-style-type: none;
    margin-right: 63px;
}

.choose-list:last-of-type {
    margin-right: 0px;
}

.select-dropdown {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    outline: none;
}

.cart-add {
    padding-top: 28px;
    padding-bottom: 122px;
}

.add-to-cart-link {
    text-decoration: none;
}

.add-to-cart-bottom {
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    font-family: Lato;
    font-size: 16px;
    line-height: 3.2;
    font-weight: 700;
    color: #ef5b70;
    display: inline-block;
}

.add-to-cart-bottom:hover {
    background-color: #ef5b70;
    color: #ffffff;
}

.fa-shopping-cart {
    padding-right: 15px;
}

.also-like-box {
    text-align: center;
    padding-top: 119px;
    width: 1141px;
    padding-left: 230px;
}

.also-like-h3 {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.also-products {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}

.also-like-prod {
    position: relative;
}

.also-like-img {
    width: 261px;
    height: 280px;
    background-color: #ffffff;
}

.also-like-img:hover {
    filter: brightness(50%)
}

.also-prod-link {
    text-decoration: none;
}

.also-prod-desc {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    padding-top: 18px;
}

.also-prod-price {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    padding-top: 17px;
}

.stars {
    display: none;
    position: absolute;
    top: 332px;
    left: 164px;
    text-decoration: none;
}

.fa-star {
    width: 15px;
    height: 15px;
    color: #e4af48;
}

.also-like-prod:hover .stars {
    display: flex;
}

update from gitKraken